---
layout: layouts/base.njk
---

<div class="fungallas">
  {{ comp.breadcrumb({url: url}) | safe }}
</div>

<div id="cabeceira" class="arriba2 abaixo2">
  <h1>{{ title }}</h1>
  <p class="descricion">
    <span>
    {{ description | md(true) | safe }}
    </span>
  </p>
</div>

<div class="listado">
  {% set sections = search.pages("type=classification lang=" + lang + " section_id=" + id, "title") %}

  {% if sections.length %}
    {% for section in sections %}
    <hr class="separador" />
    <div class="listado_elemento borrar">
      <h3><a href="{{ section.url }}">{{ section.title }}</a></h3>
      <p class="intro">
        {{ section.description | md(true) | safe }}
      </p>
    </div>
    {% endfor %}
  {% else %}
    {% set fonts = search.pages("type=font lang=" + lang + " sections_ids*=" + id, "title") %}
    {% include "templates/fonts_list.njk" %}
  {% endif %}
</div>