
/*
========================================================================================== RESETEAR
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	}


/*
========================================================================================== BASE
*/

body {
	font-family: Arial, sans-serif;
	font-size: 62.5%;
	line-height: 1.2em;
	background: #fff;
	color:#222;
	margin:0;
	}
.paxina { /* Conten todos os elementos da páxina */
	width: 950px;
	text-align: left;
	margin: 0 auto;
	}


/* Titulos
---------- */

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	line-height: 1em;
}
h1	{ font-size:4em; margin-bottom: 0.4em;}
h2	{ font-size:3em; margin-bottom: 0.5em;}
h3	{ font-size:2em; margin-bottom: 0.6em;}
h4,h5,h6{ font-size:1em; margin-bottom: 1.4em;}


/* Listas
--------- */

ul,ol	{ margin:0 0 1.2em 1.2em; }
ol	{ list-style-type:decimal;margin-left: 1.6em }
dl dt	{ font-weight: bold; }
dl	{ margin:0 0 1.2em; }
dd	{ margin-left:1.2em; }


/* Ligazóns
-----------*/

a img	{ border: none; }


/* Táboas
---------*/

table { border-collapse: collapse; border-spacing: 0; margin-bottom: 1.4em; }
caption, th { font-weight: bold; }
th, td	{ text-align: left; padding:0; }
tfoot	{ font-style: italic; }
table .final { padding-right: 0; } /* Usar solo cando se usan as clases "ancho" en th/td */


/* Formularios
--------------*/

fieldset { border:1px solid #ccc; margin:0 0 1.5em; padding:1.4em;}
fieldset.oculto { border: none; margin: 0; padding: 0; display: inline; }
legend	{ font-weight:bold; font-size:1.2em; }
input {margin: 0; font-family: inherit; font-size: inherit; color: inherit}
textarea { width: 400px; height: 250px; border: 1px solid #ccc; margin: 0; padding: 0; font-family: inherit; font-size: inherit; color: inherit}
select	{ border:1px solid; width:200px; margin: 0; }


label { }


/* Monoespaciados
-----------------*/

pre,code,tt { font-family: "Courier New", Courier, monospace; line-height:1.5; }
pre,code { white-space: pre; margin: 1.5em 0; }
tt	{ display:block; line-height:1.5; margin:1.5em 0; }


/* Elementos de bloque
----------------------*/

p	{ margin: 0 0 1.2em; }
p.final	{ margin-bottom: 0; } /* Ultimo párrafo */
img	{ margin: 0; }
p img	{ float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.superior { margin-top: 0; } /* Usar cando a imaxe estea na parte superior do <p> */
address	{ margin-top: 1.5em; font-style: italic; }
blockquote { color:#666; font-style:italic; margin:1.5em; }


/* Elementos de liña
--------------------*/

q	{ quotes: "«" "»" "‹" "›"; }
abbr,acronym { border-bottom:1px dotted #666; }
em,dfn	{ font-style:italic; }


/*
========================================================================================== CLASES
*/

.pequeno { font-size:.8em; margin-bottom:1.875em; line-height:1.875em; }
.grande { font-size:1.2em; line-height:2.5em; margin-bottom:1.25em; }
.discreto { color: #666; }
.invisible { color: #fff; background: #fff; }
.oculto { display:none; }
.marcado { background:#ff0; }

.superior { margin-top:0; padding-top:0; }
.inferior { margin-bottom:0; padding-bottom:0; }


/*
========================================================================================== MAQUETACIÓN
*/

.columna { float:left; margin-right:10px; } /* Crea unha columna */
.rcolumna { float:right; margin-left:10px; } /* Crea unha columna flotando cara o outro lado*/
.final { margin-right:0; } /* Ultima columna dunha fila */
.pegar { margin-left: -10px; } /* Pega esta columna coa da sua esquerda */


/* Anchos de columnas
--------------------*/

.ancho1 { width:30px; }
.ancho2 { width:70px; }
.ancho3 { width:110px; }
.ancho4 { width:150px; }
.ancho5 { width:190px; }
.ancho6 { width:230px; }
.ancho7 { width:270px; }
.ancho8 { width:310px; }
.ancho9 { width:350px; }
.ancho10 { width:390px; }
.ancho11 { width:430px; }
.ancho12 { width:470px; }
.ancho13 { width:510px; }
.ancho14 { width:550px; }
.ancho15 { width:590px; }
.ancho16 { width:630px; }
.ancho17 { width:670px; }
.ancho18 { width:710px; }
.ancho19 { width:750px; }
.ancho20 { width:790px; }
.ancho21 { width:830px; }
.ancho22 { width:870px; }
.ancho23 { width:910px; }
.ancho24 { width:950px; margin:0; }


/* Separacións de columnas pola dereita
---------------------------------------*/

.dereita1 { padding-right:40px; }
.dereita2 { padding-right:80px; }
.dereita3 { padding-right:120px; }
.dereita4 { padding-right:160px; }
.dereita5 { padding-right:200px; }
.dereita6 { padding-right:240px; }
.dereita7 { padding-right:280px; }
.dereita8 { padding-right:320px; }
.dereita9 { padding-right:360px; }
.dereita10 { padding-right:400px; }
.dereita11 { padding-right:440px; }
.dereita12 { padding-right:480px; }
.dereita13 { padding-right:520px; }
.dereita14 { padding-right:560px; }
.dereita15 { padding-right:600px; }
.dereita16 { padding-right:640px; }
.dereita17 { padding-right:680px; }
.dereita18 { padding-right:720px; }
.dereita19 { padding-right:760px; }
.dereita20 { padding-right:800px; }
.dereita21 { padding-right:840px; }
.dereita22 { padding-right:880px; }
.dereita23 { padding-right:920px; }


/* Separacións de columnas pola esquerda
---------------------------------------*/

.esquerda1 { padding-left:40px; }
.esquerda2 { padding-left:80px; }
.esquerda3 { padding-left:120px; }
.esquerda4 { padding-left:160px; }
.esquerda5 { padding-left:200px; }
.esquerda6 { padding-left:240px; }
.esquerda7 { padding-left:280px; }
.esquerda8 { padding-left:320px; }
.esquerda9 { padding-left:360px; }
.esquerda10 { padding-left:400px; }
.esquerda11 { padding-left:440px; }
.esquerda12 { padding-left:480px; }
.esquerda13 { padding-left:520px; }
.esquerda14 { padding-left:560px; }
.esquerda15 { padding-left:600px; }
.esquerda16 { padding-left:640px; }
.esquerda17 { padding-left:680px; }
.esquerda18 { padding-left:720px; }
.esquerda19 { padding-left:760px; }
.esquerda20 { padding-left:800px; }
.esquerda21 { padding-left:840px; }
.esquerda22 { padding-left:880px; }
.esquerda23 { padding-left:920px; }


/* Separacións de elementos por arriba
---------------------------------------*/
.arriba1 { padding-top: 1.2em; }
.arriba2 { padding-top: 2.4em; }
.arriba3 { padding-top: 3.6em; }
.arriba4 { padding-top: 4.8em; }
.arriba5 { padding-top: 6em; }


/* Separacións de elementos por abaixo
---------------------------------------*/
.abaixo1 { padding-bottom: 1.2em; }
.abaixo2 { padding-bottom: 2.4em; }
.abaixo3 { padding-bottom: 3.6em; }
.abaixo4 { padding-bottom: 4.8em; }
.abaixo5 { padding-bottom: 6em; }


/* Bordes e liñas
-----------------*/

.borde { padding-right:4px; margin-right:5px; border-right:1px solid #ccc; } /* Separa unha columna doutra por unha liña */
.colborde { padding-right:24px; margin-right:25px; border-right:1px solid #ccc; } /* Separa unha columna doutra por unha liña deixando unha columna de espacio */
hr { background:none; color:#fff; clear:both; float:none; width:100%; height:.1em; border:none; margin:0 0 1.1em; *margin: 0; }


/* Mover un elemento á columna anterior
---------------------------------------*/

.anterior1 { margin-left:-40px; }
.anterior2 { margin-left:-80px; }
.anterior3 { margin-left:-120px; }
.anterior4 { margin-left:-160px; }


/* Mover un elemento á columna seguinte
---------------------------------------*/

.seguinte0 { margin:0 0 0 18px; }
.seguinte1 { margin:0 -40px 0 18px; }
.seguinte2 { margin:0 -80px 0 18px; }
.seguinte3 { margin:0 -120px 0 18px; }
.seguinte4 { margin:0 -160px 0 18px; }
.seguinte0,.seguinte1,.seguinte2,.seguinte3,.seguinte4 { float:right; }


/* Utilidades
-------------*/

.caixa	{ margin-bottom:1.5em; background:#ccc; padding:1.5em; } /* Crea unha caixa dentro dunha columna */

.borrar	{ display:block; }
.borrar:after,.paxina:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }


/* Hacks para IE
----------------*/

.borrar { *height: 1%; }
.columna { *overflow-x: hidden; }
.anterior1, .anterior2, .anterior3, .anterior4, .seguinte1, .seguinte2, .seguinte3, .seguinte4, ul, ol { *position: relative; }
legend { *margin-bottom: 1.4em; }
ol { *margin-left:2em; }